{% extends 'template.html' %}

{% load static %}
{% load extras %}

{% block title %}
Viltrum | Editar Producto {{product.product_name}}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/myProfileSponsor.css' %}">
<style>
    input, select, button{
        color: black;
    }
</style>
{% endblock %}

{% block content %}
<div style="background-color: #333;">
    <h2>Editar información de {{product.product_name}}</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <span>Nombre del producto</span>
        <input type="text" name="product_name" value="{{product.product_name}}">
        <span>Descripción del producto</span>
        <input type="text" name="product_description" value="{{product.product_description}}">
        <span>Imagen del producto</span>
        <input type="file" name="product_image" accept="image/*" value="{{product.product_image}}">
        <span>---------------</span>
        <button type="submit">Guardar producto</button>
    </form>
</div>
{% endblock %}
