<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Viltrum">
    <title>Editar Perfil</title>
    {% load static %}
    {% load extras %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/editProfile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"/>
<!-- Cropper.js JS -->
    <script src="https://unpkg.com/cropperjs"></script>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <img src="{% static 'images/ninjaviltrum.png' %}" alt="Logo" class="logo">
            </div>
            <nav class="nav-links">
                <a href="{% url 'home' %}">Inicio</a>
                <a href="#">Explorar</a>
                <a href="#">Suscripciones</a>
                <a href="#">Tienda</a>
                <a href="#">Torneos</a>
                <a href="#">Clasificaciones</a>
                <a href="#">Equipos</a>
            </nav>
            <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="auth-buttons">
                <div class="dropdown-profile">
                    <a href="#" aria-haspopup="true" aria-expanded="false" class="user-icon" id="userIcon">
                        <i class="fa-solid fa-user"></i>
                        {{ user }}
                    </a>
                    <div class="dropdown-content" id="dropdownMenu">
                        <a href="{% url 'redirect_profile' %}">Perfil</a>
                        <a href="{% url 'games_stats' %}">Añadir Estadísticas</a>
                        <a href="{% url 'user_logout' %}">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="profile-container">
            <div class="sidebar">
                <ul>
                    <li><a href="#" data-section="personal-info" class="active">Información Personal</a></li>
                    <li><a href="#" data-section="additional-info">Información Adicional</a></li>
                    <li><a href="#" data-section="security">Seguridad</a></li>
                    <li><a href="#" data-section="images">Imágenes</a></li>
                </ul>
            </div>
    
            <div class="form-container">
                <div id="personal-info" class="form-section active">
                    <h2>Información Personal</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="submit_form" value="personal_data">
                        <div class="profile-data">
                            <div class="input-group">
                                <input type="text" name="username" id="username" placeholder="Usuario" required class="profile-input" value="{{ user.username }}">
                                <label for="username">Nombre de Usuario</label>
                            </div>
                            <div class="input-group">
                                <input type="text" name="first_name" id="name" placeholder="Nombre" required class="profile-input" value="{{ user.first_name }}">
                                <label for="name">Nombre</label>
                            </div>
                            <div class="input-group">
                                <input type="text" name="last_name" id="lastName" placeholder="Apellido" required class="profile-input" value="{{ user.last_name }}">
                                <label for="lastName">Apellido</label>
                            </div>
                            <div class="input-group">
                                <input type="email" name="email" id="email" placeholder="correo@mail.com" required class="profile-input" value="{{ user.email }}">
                                <label for="email">Correo electrónico</label>
                            </div>
                        </div>
                        <div class="button-group">
                            <button type="submit" class="save-button">
                                Guardar Cambios
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
    
                <div id="additional-info" class="form-section">
                    <h2>Información Adicional</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="submit_form" value="extra_data">
                        <div class="profile-data">
                            <div class="input-group">
                                <textarea name="user_description" id="user_description" placeholder="Descripción del usuario" required class="profile-input">{{ profile.user_description }}</textarea>
                                <label for="user_description">Descripción del Usuario</label>
                            </div>
                            <div class="input-group">
                                {{ edit_extended_data_user.country }}
                                <label for="country">País</label>
                            </div>
                            <div class="input-group">
                                <input type="date" name="birthdate" id="birthdate" class="profile-input" value="{{ profile.birthdate }}">
                                <label for="birthdate">Fecha de Nacimiento</label>
                            </div>
                        </div>
                        <div class="button-group">
                            <button type="submit" class="save-button">
                                Guardar Cambios
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
    
                <div id="security" class="form-section">
                    <h2>Seguridad</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="submit_form" value="security_data">
                        <div class="profile-data">
                            <div class="input-group">
                                <input type="password" name="password" id="password" placeholder="Contraseña" required class="profile-input">
                                <label for="password">Nueva Contraseña</label>
                            </div>
                            <div class="input-group">
                                <input type="password" name="confirm_password" id="confirm-password" placeholder="Confirmar contraseña" required class="profile-input">
                                <label for="confirm-password">Confirmar Contraseña</label>
                            </div>
                        </div>
                        <div class="button-group">
                            <button type="submit" class="save-button">
                                Guardar Cambios
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
    
                <div id="images" class="form-section">
                    <h2>Imágenes de Perfil y Banner</h2>
                    <div class="photo-section">
                        <h3>Imagen de Perfil</h3>
                        <img src="{% if profile.profile_img %}{{ profile.profile_img.url }}{% else %}https://ui-avatars.com/api/?name={{user}}{% endif %}" alt="Foto de perfil" id="profile-pic">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" id="imageInput" accept="image/*" onchange="loadFile(event)">
                            <input type="hidden" id="croppedImage" name="cropped_image">
                            <button type="button" id="cropButton">Recortar Imagen</button>
                            <button type="submit" class="change-photo-btn" name="submit_form" value="profile_image">
                                Guardar Imagen
                            </button>
                        </form>
                        <div>
                            <img id="imagePreview" style="max-width: 100%;">
                        </div>
                    </div>
    
                    <div class="photo-section">
                        <h3>Banner de Perfil</h3>
                        <img src="{% if profile.profile_banner %}{{ profile.profile_banner.url }}{% endif %}" alt="Banner de perfil" id="banner-pic">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden">
                            <input type="file" id="bannerInput" accept="image/*" onchange="loadBannerFile(event)">
                            <input type="hidden" id="croppedBannerImage" name="cropped_banner_image">
                            <button type="button" id="cropBannerButton">Recortar Banner</button>
                            <button type="submit" class="change-photo-btn" name="submit_form" value="banner_image">
                                Guardar Banner
                            </button>
                        </form>
                        <div>
                            <img id="bannerPreview" style="max-width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-links">
                <a href="#">Acerca de</a>
                <a href="#">Contacto</a>
                <a href="#">Privacidad</a>
                <a href="#">Términos</a>
                <a href="#">Ayuda</a>
            </div>
            <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </footer>
    
    <script src="https://unpkg.com/cropperjs"></script>
    <script>
        let cropper;
    
        function loadFile(event) {
            const imagePreview = document.getElementById('imagePreview');
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function () {
                imagePreview.src = reader.result;
                if (cropper) {
                    cropper.destroy();
                }
                const img = document.createElement('img');
                img.src = reader.result;
                document.body.appendChild(img);
                cropper = new Cropper(img, {
                    aspectRatio: 1,
                    viewMode: 1,
                    crop(event) {
                        // Aquí puedes obtener los datos del recorte
                    },
                });
            };
            reader.readAsDataURL(file);
        }
    
        function loadBannerFile(event) {
            const bannerPreview = document.getElementById('bannerPreview');
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function () {
                bannerPreview.src = reader.result;
                if (cropper) {
                    cropper.destroy();
                }
                const img = document.createElement('img');
                img.src = reader.result;
                document.body.appendChild(img);
                cropper = new Cropper(img, {
                    aspectRatio: 16 / 9,
                    viewMode: 1,
                    crop(event) {
                        // Aquí puedes obtener los datos del recorte
                    },
                });
            };
            reader.readAsDataURL(file);
        }
    
        document.getElementById('cropButton').addEventListener('click', function () {
            const canvas = cropper.getCroppedCanvas();
            document.getElementById('croppedImage').value = canvas.toDataURL();
        });
    
        document.getElementById('cropBannerButton').addEventListener('click', function () {
            const canvas = cropper.getCroppedCanvas();
            document.getElementById('croppedBannerImage').value = canvas.toDataURL();
        });
    
        // Cambiar secciones
        document.querySelectorAll('.sidebar ul li a').forEach(link => {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                document.querySelectorAll('.form-section').forEach(section => {
                    section.classList.remove('active');
                });
                document.querySelectorAll('.sidebar ul li a').forEach(link => {
                    link.classList.remove('active');
                });
                const sectionId = this.getAttribute('data-section');
                document.getElementById(sectionId).classList.add('active');
                this.classList.add('active');
            });
        });
    </script>
    
</body>
</html>