{% extends 'template.html' %}

{% load static %}

{% block title %}
Viltrum | Perfil {{User}}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/myProfile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-banner"></div>
        <img src="{% if profile.profile_banner %}{{ profile.profile_banner.url }}{% else %}http://via.placeholder.com/770x200{% endif %}"
            alt="Banner">
    </div>
    <div class="profile-header-user">
        <div class="profile-image">
            <img src="{% if profile.profile_img %}{{ profile.profile_img.url }}{% else %}https://ui-avatars.com/api/?name={{ profile_user.username }}{% endif %}"
                alt="Foto de perfil" id="profile-pic">
            <h2 class="username">{{ profile_user.username }}</h2>
        </div>
        {% if role == 'sponsor'%}
            {% if notify_sended %}
            <button class="match-button" id="notificationForm" disabled>
                <i class="fa fa-check-circle"></i> Notificación enviada
            </button>
            {% else %}
            <button class="match-button" id="notificationForm" onclick="sendInvitationNotify(this)">
                <i class="fa fa-check-circle"></i> Match
            </button>
            {% endif %}
        {% endif %}
    </div>
    <div class="profile-header-info">
        <h3>Sobre mí:</h3>
        <p>{{ profile.user_description|default:"El usuario no ha agregado información aún." }}</p>
    </div>
</div>
<h3>Mis juegos: {{n_games}}</h3>
<div class="profile-body">
    {% if game_exist %}
    <p>Aún no has registrado ningún juego.</p>
    {% else %}
    {% for game in games %}
    <div class="profile-game">
        {% with image_url='images/'|add:game.game|add:'.png' %}
        <img src="{% static image_url %}" alt="{{ game.get_game_display }}">
        {% endwith %}
        <div class="profile-game-info">
            <h4>{{ game.user_game }}</h4>
            <p>
                {% if user.id == profile_user.id %}
                <a href="{% url 'edit_game_stat' game.id %}"><i class="fa-solid fa-pen-to-square"></i> Editar</a>

                <!-- Formulario de eliminación -->
            <form id="deleteForm" method="post" action="{% url 'delete_game_stats' game.id %}" style="display: inline;">
                {% csrf_token %}
                <a href="javascript:void(0);" onclick="confirmDeletion('{{ game.id }}')">
                    <i class="fa-solid fa-ban"></i> Borrar
                </a>
            </form> <br>
            {% endif %}
            Juego: {{ game.get_game_display }} <br>
            Rango: {{ game.rank }} <br>
            Winrate: {{ game.winrate|floatformat:2 }}% <br>
            Tiempo total jugado: {{ game.total_played }}h
            </p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="my_tournaments">
        {% for tournament in tournaments_created %}
        <div class="tournament">
            <a href="{% url 'view_tournament' tournament.id %}">{{tournament.name}}</a>
        </div>
        {% empty %}
        <span>Este jugador no ha creado ningún torneo</span>
        {% endfor %}
    </div>
</div>

<div class="profile-footer">
    <a href="#"><i class="fab fa-facebook-f"></i> Lorem</a>
    <a href="#"><i class="fab fa-twitter"></i> @Lorem</a>
    <a href="#"><i class="fab fa-instagram"></i> Lorem</a>
    <a href="#"><i class="fab fa-youtube"></i> Lorem</a>
    <a href="#"><i class="fa-brands fa-twitch"></i> Lorem</a>
</div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function confirmDeletion() {
        if (confirm("¿Estás seguro de que deseas eliminar estas estadísticas de juego?")) {
            document.getElementById("deleteForm").submit();
        }
    }
</script>

{% if user.is_authenticated and role == 'sponsor'%}
<script>
    const receiver = "{{profile.id}}";
    function sendInvitationNotify(button) {
        button.disabled = true;
        const message = "¡Un patrocinador quiere colaborar contigo!, {{user}}";

        // Enviar el mensaje al WebSocket
        notificationSocket.send(JSON.stringify({
            "message": message,
            "receiver": receiver
        }));
    };
</script>
{% endif %}
{% endblock %}