<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Viltrum">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de {{ profile_user.username }}</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/myProfile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <img src="{% static 'images/ninjaviltrum.png' %}" alt="Logo" class="logo">
            </div>
            <nav class="nav-links">
                <a href="{% url 'home' %}">Inicio</a>
                <a href="#">Explorar</a>
                <a href="#">Suscripciones</a>
                <a href="#">Tienda</a>
                <a href="#">Torneos</a>
                <a href="#">Clasificaciones</a>
                <a href="#">Equipos</a>
            </nav>
            <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                <div class="dropdown-profile">
                  <a
                    href="#"
                    aria-haspopup="true"
                    aria-expanded="false"
                    class="user-icon"
                    id="userIcon"
                  >
                    <i class="fa-solid fa-user"></i>
                    {{ user }}
                  </a>
                  <div class="dropdown-content" id="dropdownMenu">
                    <a href="{% url 'profile' username=user.username %}">Perfil</a>
                    <a href="{% url 'edit_profile' username=user.username %}">Editar Perfil</a>
                    <a href="{% url 'games_stats' %}">Añadir Estadísticas</a>
                    <a href="{% url 'user_logout' %}">Cerrar sesión</a>
                  </div>
                </div>
                {% else %}
                <a href="{% url 'login' %}" class="login-btn">Iniciar Sesión</a>
                <a href="{% url 'register' %}" class="register-btn">Regístrate</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        <div class="profile-container">
            <div class="profile-header">
                <div class="profile-banner">
                    <img src="{% if profile.profile_banner %}{{ profile.profile_banner.url }}{% else %}http://via.placeholder.com/770x200{% endif %}" alt="Banner">
                </div>
                <div class="profile-header-user">
                    <div class="profile-image">
                        <img src="{% if profile.profile_img %}{{ profile.profile_img.url }}{% else %}https://ui-avatars.com/api/?name={{user}}{% endif %}" alt="Foto de perfil" id="profile-pic">
                        <h2 class="username">{{ profile_user.username }}</h2>
                    </div>
                    <a class="send-message">Enviar mensaje  <i class="fa-solid fa-message"></i></a>
                </div>
                <div class="profile-header-info">
                    <h3>Sobre mí:</h3>
                    <p>{{ profile.about_me|default:"El usuario no ha agregado información aún." }}</p>
                </div>
            </div>
            <div class="profile-body">
                {% if game_exist %}
                <p>Aún no has registrado ningún juego.</p>
                {% else %}
                {% for game in games %}
                <div class="profile-game">
                    {% with image_url='images/'|add:game.game|add:'.png' %}
                    <img src="{% static image_url %}" alt="{{ game.get_game_display }}">
                    {% endwith %}
                    <div class="profile-game-info">
                        <h4>{{ game.user_game }}</h4>
                        <p>
                            Juego: {{ game.get_game_display }} <br>
                            Rango: {{ game.rank }} <br>
                            Winrate: {{ game.winrate|floatformat:2 }}% <br>
                            Tiempo total jugado: {{ game.total_played }}h
                        </p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>

            <div class="profile-footer">
                <a href="#"><i class="fab fa-facebook-f"></i> Lorem</a>
                <a href="#"><i class="fab fa-twitter"></i> @Lorem</a>
                <a href="#"><i class="fab fa-instagram"></i> Lorem</a>
                <a href="#"><i class="fab fa-youtube"></i> Lorem</a>
                <a href="#"><i class="fa-brands fa-twitch"></i> Lorem</a>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-links">
                <a href="#">Acerca de</a>
                <a href="#">Contacto</a>
                <a href="#">Privacidad</a>
                <a href="#">Términos</a>
                <a href="#">Ayuda</a>
            </div>
            <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var userIcon = document.getElementById('userIcon');
            var dropdownMenu = document.getElementById('dropdownMenu');

            userIcon.addEventListener('click', function (event) {
                event.preventDefault();
                dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
            });

            document.addEventListener('click', function (event) {
                if (!userIcon.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.style.display = 'none';
                }
            });
        });
    </script>
</body>

</html>