{% extends 'template.html' %}

{% load static %}
{% load extras %}

{% block title %}
Viltrum | Productos
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sponsorProducts.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <form action="" method="POST" class="product-form" enctype="multipart/form-data">
    {% csrf_token %}
    {% if message %}
    <span>¡{{message}}!</span>
    {% endif %}
    <div id="drop-area">
      <p>Arrastra y suelta una imagen aquí o haz clic para seleccionar</p>
      <input type="file" id="fileElem" name="product_image" accept="image/*" onchange="handleFiles(this.files)"
        required>
      <label class="button" for="fileElem">Seleccionar un archivo</label>
    </div>
    <div class="product-information">
      <label for="product_name">Nombre del producto:</label>
      <input type="text" name="product_name" required>
      <label for="product_description">Descripción:</label>
      <textarea id="product_description" name="product_description" rows="6" maxlength="200"
        oninput="updateCounter()"></textarea>
      <div id="counter">200 caracteres restantes</div>
      <button type="submit">Registrar producto</button>
    </div>
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  let dropArea = document.getElementById("drop-area");

  ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
    dropArea.addEventListener(eventName, preventDefaults, false);
  });

  ['dragenter', 'dragover'].forEach(eventName => {
    dropArea.addEventListener(eventName, () => dropArea.classList.add('highlight'), false);
  });

  ['dragleave', 'drop'].forEach(eventName => {
    dropArea.addEventListener(eventName, () => dropArea.classList.remove('highlight'), false);
  });

  dropArea.addEventListener('drop', handleDrop, false);

  function preventDefaults(e) {
    e.preventDefault();
    e.stopPropagation();
  }

  function handleDrop(e) {
    let dt = e.dataTransfer;
    let files = dt.files;
    handleFiles(files);
  }

  function handleFiles(files) {
    document.getElementById('fileElem').files = files;
  }
</script>

<script>
  function updateCounter() {
    const textarea = document.getElementById('product_description');
    const counter = document.getElementById('counter');
    const maxLength = textarea.getAttribute('maxlength');
    const remaining = maxLength - textarea.value.length;
    counter.textContent = remaining + ' caracteres restantes';
  }

  // Inicializar el contador al cargar la página
  document.addEventListener('DOMContentLoaded', updateCounter);
</script>
{% endblock %}