{% extends 'template.html' %}

{% load static %}

{% block title %}
Viltrum | Torneos
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tournaments.css' %}">
{% endblock %}

{% block content %}
    <div class="tournament-list">
    <h2>Torneos Disponibles</h2>

    <ul>
        {% for tournament in tournaments %}
        <li>
            <div>
                <strong>{{ tournament.name }} - {{ tournament.game }}</strong><br>
                <span class="tournament-status">Estado: {{ tournament.status }}</span><br>
                <span class="time-remaining">Tiempo restante para inscribirse: {{ tournament.time_left_to_register|timesince }} </span>
            </div>
            <a href="{% url 'join_tournament' tournament.id %}">Inscribirse</a>
        </li>
        {% empty %}
        <li>No hay torneos disponibles en este momento.</li>
        {% endfor %}
    </ul>

    <a class="new-tournament-link" href="{% url 'crear_torneo' %}">Crear Nuevo Torneo</a>
    </div>
{% endblock %}
