/* Definición de variables de color */
:root {
    --primary-bg: #18181b;
    --secondary-bg: #333;
    --text-color: white;
    --border-color: rgb(70, 70, 70);
    --highlight-color: rgb(199, 2, 94);
    --highlight-color2: rgb(2, 125, 240);
}

main {
    overflow: hidden;
    width: 100%;
    position: relative;
    transition: 0.5s ease;
}

video {
    background-color: #222;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}

.form-button {
    padding: 12px;
    border: none;
    background-color: #555;
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
}

.form-button:hover {
    background-color: #666;
    cursor: pointer;
}
/* Estilos para el Formulario */
.form-container {
    background-color: var(--secondary-bg);
    padding: 40px;
    box-shadow: 1px 1px 10px black;
    max-width: 600px;
    margin: 100px auto;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-label {
    padding: 10px;
}

.form-input,
.form-select {
    background: none;
    border: none;
    border-bottom: var(--border-color) 2px solid;
    padding: 15px;
    width: 100%;
    margin: auto;
    color: var(--text-color);
    font-size: 15px;
    outline: none;
    display: inline-block;
}

.form-select {
    padding: 12px;
}

.form-select option {
    background-color: #444;
}
