/* Estilos para el Hero Section */
.hero-section {
    position: relative;
    text-align: center;
    color: white;
    padding: 100px 0;
    /* Ajusta el espacio para que sea más prominente */
    background-image: url('https://upload-os-bbs.hoyolab.com/upload/2024/07/07/244570541/bad4bd158529164f7d71f44d98a77eb2_6769761301970742193.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* Hace que la imagen cubra todo el contenedor */
}

.banner {
    background-image: url('https://upload-os-bbs.hoyolab.com/upload/2024/04/18/190435749/d90e47fd41f4d9c5af89b660a44f9a26_4231239746869581868.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* Hace que la imagen cubra todo el contenedor */
    padding: 50px;
    border-radius: 15px;
    /* Bordes redondeados para un mejor estilo */
    max-width: 1000px;
    /* Limita el ancho del banner */
    margin: 0 auto;
    /* Centra el banner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Añade una sombra para destacar */
}


.banner h1 {
    font-size: 3em;
    /* Texto más grande para el título */
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.5em;
    color: #f0f0f0;
}

/* Para asegurarnos de que el texto sea legible en el banner */
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Un fondo semitransparente */
    z-index: 1;
}

.banner h1,
.banner p {
    position: relative;
    z-index: 2;
    /* Asegura que el texto esté por encima del fondo semitransparente */
}

/* Estilos para las Portadas de Videojuegos */
.game-covers-section {
    padding: 40px 20px;
}

.game-covers-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.game-cover-carousel {
    margin: 0 auto;
    max-width: 1200px;
    /* Ajusta según sea necesario */
}

.game-cover-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
}

.game-cover-card img {
    width: 100%;
    height: auto;
    display: block;
}

.game-cover-card p {
    margin-top: 10px;
    font-weight: 500;
}

.game-cover-card:hover {
    transform: translateY(-5px);
}

.content-section,
.tournaments-section,
.leaderboards-section,
.teams-section {
    padding: 40px 20px;
}

.streaming-grid,
.tournament-grid,
.leaderboard-grid,
.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.streaming-card,
.tournament-card,
.leaderboard-card,
.team-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.streaming-card:hover,
.tournament-card:hover,
.leaderboard-card:hover,
.team-card:hover {
    transform: translateY(-5px);
}

/*----------------------------------------------------------------------------------------------------------------------------------------------*/

.brand-carousel {
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: #1c242b;
    align-items: center;
}

.brand-carousel img {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    padding: 10px;
}

.festival-section {
    background-image: url('../images/INICIO/esports-festival-bg.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    background-size: cover;
    /* Opcional: cubre toda el área */
    background-position: center;
    /* Opcional: centra la imagen */
    background-repeat: no-repeat;
    /* Opcional: evita que se repita la imagen */
    color: white;
}

.festival-content {
    max-width: 590px;
    padding: 20px;
}

.festival-content h2 {
    font-size: 60px;
}

.festival-content a {
    background-color: #bb3b1b;
    border-color: #bc1818;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.festival-content a:hover {
    background-color: #8b331d;
    cursor: pointer;
}

.festival-image img {
    max-width: 512px;
    padding: 20px;
}

.activities-section {
    text-align: center;
    background-color: #231536;
    color: white;
    padding: 20px 0px;
}

.activities-section h2 {
    margin: 0px auto 40px;
    font-size: 60px;
}

.activities-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Permite que las tarjetas se envuelvan en pantallas más pequeñas */
}

.activity-card {
    position: relative;
    max-width: 362px;
    margin: 10px;
    /* Espaciado entre tarjetas */
    overflow: hidden;
    /* Esconde cualquier contenido que sobresalga */
}

.activity-card img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    /* Permite posicionar el texto sobre la imagen */
    top: 70%;
    /* Centra verticalmente */
    left: 50%;
    /* Centra horizontalmente */
    width: 100%;
    transform: translate(-50%, 0%);
    /* Ajusta el centrado */
    color: white;
    /* Cambia el color del texto según el fondo */
    text-align: center;
    /* Centra el texto */
    padding: 20px;
    /* Añade un poco de espacio alrededor del texto */
    border-radius: 5px;
    /* Opcional: bordes redondeados */
}

.activity-card h3 {
    margin: 0;
    /* Elimina margen para mejor alineación */
    font-size: 1.5em;
    /* Ajusta el tamaño del texto del título */
}

.activity-card p {
    margin: 0;
    /* Elimina margen para mejor alineación */
    font-size: 1em;
    /* Ajusta el tamaño del texto del párrafo */
}

.blue img {
    border: 2px solid blue;
}

.red img {
    border: 2px solid red;
}

.yellow img {
    border: 2px solid yellow;
}

.home-section-intro--title {
    font-weight: bold;
    font-size: 50px;
}


.social-ctas {
    display: flex; /* Cambiar a flexbox para mejor alineación */
    justify-content: center;
    align-items: center; /* Centra verticalmente los elementos */
    padding: 2rem;
    position: relative;
    text-align: center;
}

.social-cta {
    display: inline-block; /* Asegura que los enlaces se comporten como bloques */
    margin: 0 1rem; /* Espaciado entre los botones */
    width: 300px;
    height: 100px; /* Ajusta la altura según tus necesidades */
    padding: 40px;
}

.social-cta img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Hace que la imagen ocupe toda la altura del contenedor */
    object-fit: contain; /* Mantiene la proporción de la imagen */
}

.twitch-cta {
    background-color: #6322a1;
    border: 4px solid #9c38fc;
    border-radius: 8px; /* Opcional: bordes redondeados */
    transition: 0.3s ease;
}

.twitch-cta:hover {
    transform: translateY(-10px);
}

.discord-cta {
    background-color: #4362aa;
    border: 4px solid #6588da;
    border-radius: 8px; /* Opcional: bordes redondeados */
    transition: 0.3s ease;
}

.discord-cta:hover {
    transform: translateY(-10px);
}