/* Aplicar la fuente a toda la página */

/*-- Estilos de la página --*/

.profile-container{
    margin: auto;
    background-color: #333;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*-- Profile Header --*/
.profile-banner {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(150, 150, 150);   
    overflow: hidden;
}

.profile-banner img {
    object-fit: cover;
    width: 100%;
}

.profile-header-user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -75px;
}

.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    z-index: 1;
}

.profile-image img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.username {
    margin: var(--margin-spacing);
}

.send-message {
    margin-right: 30px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.profile-header-info {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: -50px;
}

.profile-header-info h3, 
.profile-header-info p {
    margin: var(--margin-spacing);
}

/*-- Profile Body --*/
.profile-body{
    background-color: #444;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    flex-wrap: wrap;
    padding: 15px;
    gap: 10px;  
}

.profile-products{
    display: flex;
    flex-direction: column;
    background-color: #555;
    overflow: hidden;
    border-radius: 5px;
}

.profile-products img{
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: rgb(214, 214, 214);
    border: none;
    border-bottom: #000000 2 px solid;
}

.profile-products-info{
    margin-left: 10px;
}

.profile-header-info a{
    text-decoration: none;
    color: white;
}


/* Estilos para el Footer */
.footer-container {
    padding: 20px;
    background-color: #18181b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a,
.footer-social a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-social a {
    font-size: 20px;
}
