{% extends 'template.html' %}

{% load static %}

{% block title %}
Viltrum | Torneos
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tournaments.css' %}">
{% endblock %}

{% block content %}
<div class="tournament">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Nombre: {{ tournament.name }}</h2>
    {% if tournament.status %} <span>Abierto</span> {% else %} <span>Cerrado</span> {% endif %}
    <h2>Juego: {{ tournament.game }}</h2>
    <span>Máximo de jugadores: {{ n_members }}/{{ tournament.max_members }}</span> <br>

    {% if user.id == tournament.owner.id %}
        <span>Creado por: Tú ({{ tournament.owner }})</span>
        {% if tournament.status %}
            <a href="{% url 'edit_tournament' tournament.id %}">Editar</a>
        {% else %}
            <span>El torneo ya termino, ya no puedes editarlo</span>
        {% endif %}
        <h2>Solicitudes para unirse al torneo</h2>
        {% for inscription in tournament_inscriptions %}
            <span>{{ inscription.user }}</span>
            <a href="{% url 'accept_inscription' inscription_id=inscription.id tournament_id=tournament.id value=1 %}">Aceptar</a>
            <a href="{% url 'accept_inscription' inscription_id=inscription.id tournament_id=tournament.id value=2 %}">Rechazar</a>
            <br>
        {% empty %}
            <span>No hay Solicitudes Pendientes</span>
        {% endfor %}
    {% else %}
        <span>Creado por: {{ tournament.owner }}</span>
    {% endif %}

    <h2>Miembros:</h2>
    {% for member in tournament_members %}
        <div>
            <a href="{% url 'profile' username=member.user %}"><span>{{ member.user }}</span></a>
            {% if tournament.owner.id == user.id %}
                <form id="deleteForm-{{ member.id }}" action="{% url 'remove_member' inscription_id=member.id tournament_id=tournament.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <a href="#" onclick="confirmDeletion({{ member.id }}); return false;">
                        <i class="fa-solid fa-ban"></i> Eliminar
                    </a>
                </form>
            {% endif %}
        </div>
    {% empty %}
        <span>Aún no se han registrado jugadores a este torneo</span>
    {% endfor %}

    {% if not is_full %}
        {% if tournament.status and user.is_authenticated and user.id != tournament.owner.id and is_not_registered %}
            <a href="{% url 'tournament_inscription' tournament.id %}">Inscribirse</a>
        {% endif %}
    {% else %}
        <span>El torneo llegó a su capacidad máxima.</span>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
<script>
    function confirmDeletion(memberId) {
        if (confirm("¿Estás seguro de que deseas eliminar a este miembro del Torneo?")) {
            document.getElementById("deleteForm-" + memberId).submit();
        }
    }
</script>
{% endblock %}
