{% extends 'template.html' %}

{% load static %}

{% block title %}
Viltrum | Torneos
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tournaments.css' %}">
{% endblock %}

{% block content %}
<div class="tournament-list">
    <h2>Torneos Disponibles</h2>

    <ul>
        {% for tournament in tournaments_list %}
        <li>
            <div>
                <strong>{{ tournament.tournament.name }} - {{ tournament.tournament.game }}</strong><br>
                <span class="Owner">Creado por {{ tournament.tournament.owner.username }}</span> <br>
                <span class="tournament-status">Estado: {% if tournament.tournament.status %} Abierto {% else %} Cerrado {% endif %}</span><br>
                <span class="time-remaining">Tiempo restante para inscribirse:  {{tournament.inscription_time}}</span>
            </div>
            <a href="{% url 'view_tournament' tournament.tournament.id %}">Más información</a>
        </li>
        {% empty %}
        <li>No hay torneos disponibles en este momento.</li>
        {% endfor %}
    </ul>

    <a class="new-tournament-link" href="{% url 'crear_torneo' %}">Crear Nuevo Torneo</a>
</div>
{% endblock %}