{% extends 'template.html' %}

{% load static %}

{% block title %}
Viltrum | Torneos
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tournaments/css/tournament_edit.css' %}">
{% endblock %}

{% block content %}
<div class="tournament-form-container">
    <h1 class="form-title">Editar Torneo</h1>
    <form action="" method="POST" class="tournament-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Nombre del torneo</label>
            {{ form.name }}
        </div>

        <div class="form-group">
            <label for="id_game">Juego</label>
            {{ form.game }}
        </div>

        <div class="form-group">
            <label for="id_start_date">Fecha de inicio</label>
            {{ form.start_date }}
            {% if form.start_date.errors %}
                <span class="error-message">{{ form.start_date.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_end_date">Fecha de fin</label>
            {{ form.end_date }}
            {% if form.end_date.errors %}
                <span class="error-message">{{ form.end_date.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_max_members">Número de Miembros</label>
            {{ form.max_members }}
            {% if form.max_members.errors %}
                <span class="error-message">{{ form.max_members.errors.0 }}</span>
            {% endif %}
        </div>

        <button type="submit" class="submit-button">Guardar</button>
    </form>
</div>
{% endblock %}
