{% extends 'template.html' %}

{% load static %}

{% block title %}
    Explorar Juegos
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'explore/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">

    <!-- Categoría con los nuevos botones -->
    <div class="category-tabs">
        <button class="category-button">
            <strong>Juegos</strong>
            <div id="container-stars">
                <div id="stars"></div>
            </div>
            <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </button>

        <button class="category-button">
            <strong>IRL</strong>
            <div id="container-stars">
                <div id="stars"></div>
            </div>
            <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </button>

        <button class="category-button">
            <strong>Música y DJ</strong>
            <div id="container-stars">
                <div id="stars"></div>
            </div>
            <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </button>

        <button class="category-button">
            <strong>Creative</strong>
            <div id="container-stars">
                <div id="stars"></div>
            </div>
            <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </button>

        <button class="category-button">
            <strong>Esports</strong>
            <div id="container-stars">
                <div id="stars"></div>
            </div>
            <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </button>
    </div>

    <div class="content-separator">
        <span>Categorías</span>
        <span>Canales en vivo</span>
    </div>

    <div class="category-search">
        <input type="text" placeholder="Buscar etiquetas de categoría">
    </div>

    <div class="upload-game">
        <button class="button" id="addGameButton">
          Subir Nuevo Juego
          <div class="hoverEffect">
            <div></div>
          </div>
        </button>
    </div>

    <h1>Explorar Juegos</h1>

    <div class="grid">
        {% for game in games %}
        <div class="card">
            <div class="image-container">
                <img src="{{ game.image.url }}" alt="{{ game.name }}">
            </div>
            <p class="heading">{{ game.name }}</p>
            <p>{{ game.category }}</p>
            <p>{{ game.description|truncatewords:15 }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="sort-options">
        <label for="sort-by">Ordenar por</label>
        <select id="sort-by">
            <option>Recomendaciones para ti</option>
            <option>Más populares</option>
            <option>Nuevos</option>
        </select>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.getElementById('addGameButton').addEventListener('click', function(){
        window.location.href = "{% url 'upload_game' %}"
    })
</script>
{% endblock %}