{% extends 'template.html' %}

{% load static %}

{% block title %}
Viltrum | Chat
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
{% endblock %}

{% block content %}
<div class="chat-page" style="overflow-y:auto; height: 600px;">
    <div class="chat-header">
        <h2 class="chat-title">Chat con <span class="username-highlight">{{ other_user.username }}</span></h2>
    </div>
    
    <div class="chat-messages" id="chat-messages">
        {% for message in chat_messages %}
        <div class="message {% if message.author == user %}outgoing{% else %}incoming{% endif %}">
            <img src="{% if message.author.profile_img %}{{ message.author.profile_img.url }}{% else %}https://ui-avatars.com/api/?name={{ message.author.username }}{% endif %}" alt="Avatar" class="avatar">
            <div class="message-content">
                <strong class="message-author">{{ message.author.username }}:</strong>
                <span class="message-body">{{ message.body }}</span>
            </div>
        </div>
        {% empty %}
        <p class="no-messages">No hay mensajes aún por leer.</p>
        {% endfor %}
    </div>

    <div class="chat-input-container">
        <form id="chat-messages_form">
            {% csrf_token %}
            <div class="input-group">
                <select name="language" id="language" class="styled-select">
                    <option value="English">Inglés</option>
                    <option value="Spanish">Español</option>
                    <option value="Chinese">Chino</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Arabic">Árabe</option>
                    <option value="Portuguese">Portugués</option>
                    <option value="Bengali">Bengalí</option>
                    <option value="Russian">Ruso</option>
                    <option value="Japanese">Japonés</option>
                    <option value="Lahnda">Lahnda (Punjabi Occidental)</option>
                    <option value="German">Alemán</option>
                    <option value="Javanese">Javanés</option>
                    <option value="Korean">Coreano</option>
                    <option value="French">Francés</option>
                    <option value="Telugu">Telugu</option>
                    <option value="Marathi">Marathi</option>
                    <option value="Turkish">Turco</option>
                    <option value="Tamil">Tamil</option>
                    <option value="Vietnamese">Vietnamita</option>
                    <option value="Italian">Italiano</option>
                    <option value="Urdu">Urdu</option>
                    <option value="Gujarati">Gujarati</option>
                    <option value="Polish">Polaco</option>
                    <option value="Ukrainian">Ucraniano</option>
                    <option value="Persian">Persa</option>
                </select>
                
                <input type="text" id="message-input" name="body" placeholder="Escribe un mensaje..." required class="styled-input">
                <button type="submit" class="send-button">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const chatSocket = new WebSocket(`wss://${window.location.host}/ws/chatroom/{{ chatroom_name }}`);
    
    chatSocket.onopen = function (e) {
        console.log("Conectado al WebSocket de Chat");
    };

    chatSocket.onmessage = function (event) {
        const data = JSON.parse(event.data);

        if (data.error) {
            console.error(data.error); 
            return;
        }

        const chatMessages = document.getElementById('chat-messages');
        const newMessage = document.createElement('div');
        newMessage.className = "message";

        const avatar = document.createElement('img');
        avatar.src = data.profile_img ? data.profile_img : `https://ui-avatars.com/api/?name=${data.author}`;
        avatar.className = "avatar";

        const authorStrong = document.createElement('strong');
        authorStrong.className = "message-author";
        authorStrong.textContent = data.author + ': '; 

        const messageBody = document.createElement('span');
        messageBody.className = "message-body";
        messageBody.textContent = data.message;

        newMessage.appendChild(avatar);
        newMessage.appendChild(authorStrong);
        newMessage.appendChild(messageBody);
        chatMessages.appendChild(newMessage);
        chatMessages.scrollTop = chatMessages.scrollHeight;
    };

    chatSocket.onclose = function (event) {
        console.error('Chat socket closed unexpectedly');
    };

    document.getElementById('chat-messages_form').addEventListener('submit', function (event) {
        event.preventDefault(); 
        const messageInput = document.getElementById('message-input');
        const language = document.getElementById('language');

        if (messageInput.value.trim() !== "" && language.value.trim() !== "") {
            chatSocket.send(JSON.stringify({
                'body': messageInput.value.trim(),
                'language': language.value.trim(),
                'profile_img': "{{ user.profile_img.url }}", // Pasamos la imagen de perfil del usuario
            }));
            messageInput.value = ""; 
        }
    });
</script>
{% endblock %}
