{% extends 'template.html' %}

{% load static %}

{% block title %}
Viltrum | Mis chats
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'chat/css/listchat.css' %}">
{% endblock %}

{% block content %}
<div class="chats-container">
    <h1 class="title">Mis Chats</h1>
    <ul class="chats-list">
        {% for chat in chats_with_other_user %}
        <li class="chat-item">
            <div class="chat">
                <div class="chat-info">
                    <a href="{% url 'profile' chat.other_user.username %}" class="chat-title">{{ chat.other_user.username }}</a>
                    <a href="{% url 'chatroom' chat.chat.group_name %}" class="chat-link"></a>
                </div>
                <button onclick="window.location.href='{% url 'chatroom' chat.chat.group_name %}'">
                    <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                            </svg>
                        </div>
                    </div>
                    <span>Chatear</span>
                </button>
            </div>
        </li>
        {% empty %}
        <div class="chat">
            Aún no tienes chats disponibles
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
