{% extends 'template.html' %}

{% block title %}
Recuperación | Completado
{% endblock %}

{% load static %}
{% load extras %}
{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/passRecovery.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
{% endblock %}

{% block content %}

  <div class="container">
    <h2>Recuperar contraseña</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Enviar correo de recuperación</button>
    </form>
  </div>
{% endblock %}