/* Fuente y diseño global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9; /* Fondo suave para toda la página */
    color: #333;
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.product-form:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra sutil al pasar el ratón */
}

.product-information {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo de los campos de entrada */
.product-form input,
.product-form textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #fafafa;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.product-form input:focus,
.product-form textarea:focus {
    background-color: #fff;
    border-color: #9147ff;
    box-shadow: 0 0 6px rgba(145, 71, 255, 0.3); /* Efecto de enfoque */
}

.product-form textarea {
    resize: vertical; /* Permite redimensionar el textarea solo en vertical */
}

/* Botón de envío */
.product-form button {
    padding: 12px;
    background-color: #9147ff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-form button:hover {
    background-color: #7326e6;
}

/* Área de arrastrar archivos */
#drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    transition: border-color 0.3s ease;
}

#drop-area.highlight {
    border-color: #9147ff;
}

#drop-area p {
    font-size: 14px;
    color: #666;
}

#drop-area input[type="file"] {
    display: none; /* Ocultamos el input file */
}

/* Estilo para el contador de caracteres */
#counter {
    font-size: 14px;
    color: #666;
}

/* Mensaje de estado */
.message {
    font-size: 1.2rem;
    color: #ff5733;
    font-weight: bold;
    margin-bottom: 20px;
}
